.scrollable {
    bottom: 0px;
    overflow-y: auto  !important;
    overflow-x: hidden !important;
}

.smaller_text {
    font-size:75% !important;
}

.smallest_text {
    font-size:60% !important;
}
